<div class="row">
	<div class="col-md-1">
		<div>
			<button class="btn btn-success btn-sm" ng-click="upVote(hotel)">
				<span class="glyphicon glyphicon-chevron-up"></span>
			</button>
		</div>
		<div class="h3">{{hotel.rating}}</div>
		<div>
			<button class="btn btn-danger btn-sm" ng-click="downVote(hotel)">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</button>
		</div>
	</div>
	<div class="col-md-2">
		<img ng-src="http://i.imgur.com/{{hotel.imgUrl}}" width="150px" />
	</div>
	<div class="col-md-9">
		<div>
			<div class="col-md-6">
				<a href="#/details/{{hotel.objectId}}" >{{hotel.name | uppercase}}</a>
				<button class="btn btn-default btn-xs" ng-click="addFav()">
					<span class="glyphicon glyphicon-star-empty"></span>
				</button>
			</div>
			<div class="col-md-6 hidden-md">{{hotel.location}}</div>
		</div>
		<div class="col-md-12 hidden-sm">
			<span ng-show="!showMore">{{hotel.description | limitTo : descLimit}}</span>
			<span ng-show="showMore">{{hotel.description}}</span>
			<span ng-show="!showMore && hotel.description.length >
				descLimit">...
				<span>
					<a ng-show="!showMore" ng-click="showMore = true">more</a>
				</span>
			</span>

		</div>
		<br/>
		<div class="col-md-12">
			<div class="col-md-3 h3">{{hotel.price | currency}}</div>
			<div class="col-md-9 text-right h4">{{hotel.area | toFeet | number : 2}} sq.m</div>
		</div>
	</div>
</div>