<div class="row" >
	<div class="col-md-8" ng-controller="listingController">
		<div class="row">
		<div class="col-md-5">
			Search
			<input type="text" ng-model="searchTerm" />
		</div>
		<div class="col-md-7">
			<button ng-click="login()" ng-disabled="!authReady" class="btn btn-success btn-sm pull-right" >sign in</button>
		</div>
	</div>
	<hr/>
	<div ng-repeat="hotel in hotels | filter: searchTerm | orderBy : 'rating'| limitTo : maxResults">
		<hotel-display hotel="hotel" add-fav="addToFavorites(hotel)"></hotel-display>
		<hr/>
		<br/>
	</div>		

	</div>
	<div class="col-md-4" ng-controller="favoritesController">
		<h2>Favorites</h2>
		<hr/>
		<div ng-repeat="fav in favorites">{{fav.name}}</div>
	</div>

</div>