<!DOCTYPE html>
<html ng-app="ha">
<head>
	<title>Basic angular application</title>
	<meta name="description" content="">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="mainController">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#">Link</a>
					</li>
					<li>
						<a href="#">Link</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Dropdown
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="#">Action</a>
							</li>
							<li>
								<a href="#">Another action</a>
							</li>
							<li>
								<a href="#">Something else here</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Separated link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">One more separated link</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#">Link</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div  ng-repeat="hotel in hotels">
			<div class="row">
			<div class="col-md-2">
				<img ng-src="http://i.imgur.com/{{hotel.imgUrl}}" width="150px" />
			</div>
			<div class="col-md-1">
				<div><button class="btn btn-success btn-sm" ng-click="upVote(hotel)">Up</button></div>
				<div class="h3">{{hotel.rating}}</div>
				<div><button class="btn btn-danger btn-sm" ng-click="downVote(hotel)">Down</button></div>
			</div>
			<div class="col-md-9">
				<div>
					<div class="col-md-6">
						<a ng-href="{{hotel.url}}">{{hotel.name}}</a>
					</div>
					<div class="col-md-6">{{hotel.location}}</div>
				</div>
				<div class="col-md-12">{{hotel.description}}</div>
				<div class="col-md-12 text-center">{{hotel.price}}</div>
			</div>
		</div>
		<hr/>
		<br/>
		</div>
	</div>
</body>
</html>